li {
  position: relative;
  margin: 10px;
  border: 2px solid black;
}

.on {
  background: red !important;
}

.top li {
  background: silver;
}

.second li {
  background-color: orange;
}

#container {
  width: 200px;
}

#page {
  display: flex;
}

#tasklist {
  width: 200px;
  display: 1;
}

#tasklist .taskon {
  background: #3ae4db;
}
