* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: silver;
}

header {
  width: 100%;
  height: 80px;
  background-color: #8927e6;
  position: relative;
}

header div {
  height: 80px;
  margin: 0 auto;
  width: 980px;
  position: relative;
}

header div img {
  float: left;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

header div ul {
  position: absolute;
  bottom: 10px;
  list-style-type: none;
  right: 0;
}

header div ul li {
  margin-left: 10px;
  float: left;
}

header a {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

header img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  header img {
    display: none;
  }
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 980px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

#container .left {
  width: 700px;
  margin-right: 10px;
}

#container .left .post {
  background: white;
  margin-bottom: 10px;
  position: relative;
}

#container .left .post .tag {
  position: absolute;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

#container .left .post .tag.up {
  top: 25px;
  left: -50px;
  background: #8927e6;
}

#container .left .post .tag.down {
  top: 55px;
  left: -50px;
  background: #e486d4;
}

#container .left .post p {
  text-indent: 2em;
}

#container .left .post p:last-of-type {
  text-align: right;
  color: silver;
  margin: 10px 10px 10px 10px;
  padding-bottom: 10px;
}

#container .right {
  width: 270px;
}

#container .right .component {
  overflow: hidden;
  background: white;
  margin-bottom: 10px;
}

#container .right .component .search {
  line-height: 40px;
  height: 40px;
  display: table;
  margin: 20px auto;
  border: 1px solid silver;
}

#container .right .component .search input {
  border: none;
  padding-left: 2em;
}

#container .right .component .but {
  text-align: center;
  width: 50px;
  height: 40px;
  display: inline-block;
  background-color: silver;
  margin-right: -1px;
}

#container .right .component ul {
  overflow: hidden;
  list-style-type: none;
  background-color: #5a5a5a;
}

#container .right .component li {
  margin: 2px 0px;
  background-color: white;
  border-left: 3px solid purple;
}

#container .right .component li:hover {
  border-left: 3px solid #3f063f;
}

#container .right .component .calendar h1 {
  font-size: 10px;
}

footer {
  background-color: black;
  color: white;
}

.ulcon {
  overflow: hidden;
  border-bottom: 1px solid silver;
  position: relative;
  margin-bottom: 50px;
}

.ulcon ul {
  display: table;
  list-style-type: none;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.ulcon li {
  display: inline-block;
  margin-right: 50px;
}

#cop {
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cop ul {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style-type: none;
}

#cop li:first-of-type {
  margin-top: 25px;
}

#ext {
  margin-top: 100px;
  text-align: center;
}
/*# sourceMappingURL=blog.css.map */