* {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: blue;
}

h2 {
  font-weight: 18px;
}

p {
  font-weight: 12px;
  color: yellow;
  background-color: black;
}

img {
  border: solid 2px red;
}

#container {
  width: 50px;
  height: 50px;
  border: 5px solid red;
  border-radius: 8px;
}

#two-row1 {
  width: 100%;
}

#two-row1 div {
  background-color: silver;
}

#two-row1 .left {
  float: left;
  width: 200px;
}

#two-row1 .right {
  padding-left: 200px;
  width: 100%;
  background-color: red;
}

#two-row2 {
  width: 100%;
  display: flex;
  margin-top: 45px;
}

#two-row2 div {
  background-color: silver;
}

#two-row2 .left {
  float: left;
  width: 200px;
}

#two-row2 .right {
  background-color: red;
  flex: 1;
}

#two-row3 {
  display: table;
  width: 100%;
  margin-top: 45px;
}

#two-row3 div {
  display: table-cell;
  background-color: silver;
}

#two-row3 .left {
  width: 200px;
}

#two-row3 .right {
  background-color: red;
}

#float-container {
  color: white;
  margin-top: 50px;
  overflow: hidden;
  background-color: red;
}

#float-container .float-element {
  float: left;
  width: 150px;
  height: 50px;
  background-color: blue;
  margin: 10px;
}

#flex-container {
  color: white;
  margin-top: 50px;
  overflow: hidden;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
}

#flex-container div {
  width: 150px;
  height: 50px;
  background-color: blue;
  margin: 10px;
}
